*{
    padding: 0;
    margin: 25px;
}
.form1{
    margin: 15px;
}
ul li{
    display: inline-block;
}
.scroll-div{
    background-color: aqua;
    width: 40%;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-div span{
    margin: 0px;
    color: red;
}
.scroll-div hr{
    width: 100%;
}